@model FilterViewModel

<form method="POST" asp-action="Search" asp-controller="Home" class="custom-search-form">
    <div class="row row-cols-1 text-dark text-start row-cols-sm-2 row-cols-md-4 g-3 p-1">

        <div class="col d-flex flex-column">
            <label asp-for="CategoryId" class="form-label">
                @SharedResources.Category
            </label>
            <div class="input-group">
                <span class="input-group-text">
                    <i class="bi bi-binoculars"></i>
                </span>
                <select asp-for="CategoryId" asp-items="@(ViewBag.CategoriesSelectList)" class="form-control">
                    <option value="" disabled selected>@SharedResources.Select</option>
                </select>
            </div>
        </div>

        <div class="col d-flex flex-column">
            <label asp-for="Cabin" class="form-label">
                @SharedResources.Cabin
            </label>
            <div class="input-group">
                <span class="input-group-text">
                    <i class="bi bi-border-all"></i>
                </span>
                <input asp-for="Cabin" class="form-control" type="number"
                    placeholder="@SharedResources.FilterCabinInput" />
            </div>
        </div>

        <div class="col d-flex flex-column">
            <label asp-for="Guests" class="form-label">
                @SharedResources.Guest
            </label>
            <div class="input-group">
                <span class="input-group-text">
                    <i class="bi bi-people"></i>
                </span>
                <input asp-for="Guests" class="form-control" type="number"
                    placeholder="@SharedResources.FilterGuestInput" />
            </div>
        </div>

        <div class="col d-flex align-items-end justify-content-center text-center">
            <button type="submit" class="boat-filter-btn">
                @SharedResources.Search
                <i class="bi bi-search search-icon"></i>
            </button>
        </div>
    </div>
</form>
