@model IEnumerable<BoatDto>

@{
    ViewData["Title"] = "Searched Boat Code";
}

<div class="text-center p-4">
    <h5 class="display-6 text-primary fw-bold f-calvino">Boats Filtered by Code</h5>
    <div class="d-flex justify-content-center align-items-center">
        <p class="text-muted f-calvino">
            Filter your search according to the code and easily find boats that match your desired comfort, performance,
            and style!
        </p>
    </div>
</div>


<div class="container">
    <div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 g-4">
        @if (!Model.Any())
        {
            <div class="container" style="height: 50vh;">
                <div class="row d-flex justify-content-center align-items-center" style="height: 100%;">
                    <div class="alert alert-primary text-center w-auto" role="alert">
                        Sorry, no boat was found matching your criteria.
                    </div>
                </div>
            </div>
        }
        else
        {
            @foreach (var boat in Model)
            {
                <div class="col">
                    <div class="boat-card">
                        <div class="card card-custom">
                            <a asp-controller="Home" asp-action="BoatDetail" asp-route-id="@boat.Id">
                                <img src="@boat.Image" class="card-img-top" alt="@boat.Code" />
                            </a>
                            <div class="card-body">
                                <div class="card-top-text">
                                    <p class="text-uppercase">@boat.Category.LocalizedName</p>
                                    <h5 class="card-title text-dark">@boat.Code</h5>
                                </div>

                                <hr />

                                <div class="card-property">
                                    <div class="d-flex nowrap display-7">
                                        <div class="me-3 d-flex align-items-center">
                                            <i class="bi bi-door-closed-fill me-1"></i>@boat.Cabin @SharedResources.Cabin
                                        </div>
                                        <div><i class="bi bi-people-fill me-1"></i>@boat.Guest @SharedResources.Guest</div>
                                    </div>
                                </div>

                                <div class="card-bottom-text my-2 text-muted">
                                    <p>Price start from € @(boat.MayToOctoberPrice) p/week</p>
                                </div>

                                <div class="d-flex justify-content-between align-items-center">
                                    <a asp-controller="Home" asp-action="BoatDetail" asp-route-id="@boat.Id"
                                        class="btn bg-dark rounded-0 text-white px-4 py-2">@SharedResources.Inspect</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>
