@{
	ViewData["Title"] = "Home Page";
}

<section class="custom-header">
	<div class="container-fluid">
		<div class="content-wrap text-center py-5">
			<h1 class="mb-4 display-1">
				<strong>Discover Freedom in the Blue</strong>
			</h1>

			<p class="mb-4 display-7">
				Embark on an unforgettable sea voyage with comfortable boats and unique routes.<br>
			</p>

			<section class="p-0 m-3 bg-transparent">
				<div class="row justify-content-center">
					<div class="col-md-10 col-lg-8 bg-white rounded-5">
						<div class="p-2">
							<partial name="_FilterFormPartial" />
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
</section>

<section>
	<div class="container-fluid">
		<div class="text-center m-4">
			<h5 class="display-6 text-primary fw-bold">
				Boats Category
			</h5>
			<p class="text-muted mb-0">Explore our collection of amazing boats</p>
		</div>

		<div class="row d-flex flex-wrap">
			@foreach (var category in ViewBag.Categories as IEnumerable<CategoryDto>)
			{
				<div class="col-12 col-md-6 m-0 p-0 border">
					<div class="category-box">
						<div class="category-img position-relative">
							<img class="object-fit-cover" src="~/images/categories/@(category.Id).jpg"
								 alt="@category.LocalizedName">

							<div class="position-absolute start-50 translate-middle-x bottom-0 mb-3">
								<a asp-controller="Home" asp-action="Category" asp-route-id="@category.Id"
								   class="btn item-btn btn-outline-primary display-7">
									Inspect
								</a>
							</div>

							<div class="category-info">
								<h5 class="mt-0 mb-2">
									<strong>@category.LocalizedName</strong>
								</h5>
							</div>
						</div>
					</div>
				</div>
			}
		</div>
	</div>
</section>

<section class="py-5">
	<div class="text-center mb-4">
		<h5 class="display-6 text-primary fw-bold">
			All Boats
		</h5>
		<p class="text-muted mb-0">Explore our collection of amazing boats</p>
	</div>
	<div class="container">
		<div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 g-4">
			@foreach (var boat in ViewBag.Boats as IEnumerable<BoatDto>)
			{
				<div class="col">
					<div class="card h-100 custom-card">
						<a asp-controller="Home" asp-action="BoatDetail" asp-route-id="@boat.Id">
							<img src="@boat.Image" class="card-img-top object-fit-cover" alt="@boat.Name">
						</a>
						<div class="card-body">
							<div><i class="bi bi-people"></i> @boat.Category.LocalizedName</div>
							<h5 class="card-title">@boat.Name</h5>

						</div>
						<div class="card-footer">
							<div class="footer-icons">
								<div><i class="bi bi-people"></i> @boat.Cabin</div>
								<div><i class="bi bi-people"></i> @boat.Guest</div>
								<p class="card-text">@boat.Width ft @boat.Length</p>
							</div>
						</div>
					</div>
				</div>
			}
		</div>
	</div>
</section>


@* 
<section data-bs-version="5.1" class="image01 cid-uEmru6qbKe" id="image01-3">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-12 col-lg-9">
				<div class="image-wrapper mb-4">
					<img class="w-100" src="/images/wp-yatch.jpg" alt="Contact">
				</div>
				<h4 class="mbr-description mbr-fonts-style mb-3 align-center display-5">
					<strong>@SharedResources.WpFooterText</strong>
				</h4>
				<p class="mbr-description mbr-fonts-style mb-0 align-center display-7">
					@($"Sailing&People{SharedResources.WpFooterSubText}")
				</p>
			</div>
		</div>
	</div>
</section> *@
