@model List<BoatDto>

@{
    ViewData["Title"] = "Searched Category";
}

<div class="container">
    <div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 g-4">
        @if (!Model.Any())
        {
            <div class="container" style="height: 50vh;">
                <div class="row d-flex justify-content-center align-items-center" style="height: 100%;">
                    <div class="alert alert-primary text-center w-auto" role="alert">
                        Sorry, no boat was found matching your criteria.
                    </div>
                </div>
            </div>
        }
        else
        {
            @foreach (var boat in Model)
            {
                <div class="col">
                    <div class="boat-box position-relative shadow-sm border">
                        <div class="boat-img position-relative overflow-hidden ">
                            <img class="object-fit-cover w-100" src="@boat.Image" alt="@boat.Name" />

                            <div class="boat-overlay d-flex flex-column justify-content-center align-items-center">
                                <div class="overlay-content">
                                    <h5 class="overlay-title text-white text-center text-break p-4">@boat.Name</h5>
                                </div>
                            </div>

                            <a asp-controller="Home" asp-action="BoatDetail" asp-route-id="@boat.Id"
                               class="btn btn-inspect position-absolute display-7">
                                View Detail
                            </a>
                        </div>

                        <div class="card-footer boat-footer position-relative p-2">
                            <div class="boat-info">
                                <span class="text-muted d-block text-ellipsis">@boat.Category.LocalizedName</span>
                                <a asp-controller="Home" asp-action="BoatDetail" asp-route-id="@boat.Id">
                                    <span class="fw-bold d-block">@boat.Name</span>
                                </a>
                                <span class="fw-bold d-block">@boat.Code</span>
                            </div>

                            <div class="boat-icons position-absolute top-0 end-0 mt-2 me-2 text-nowrap">
                                <i class="bi bi-people me-1"></i>@boat.Guest
                                <i class="bi bi-door-closed ms-3 me-1"></i>@boat.Cabin
                            </div>

                            <div class="boat-price mt-4">
                                Price start from €@(boat.MayToOctoberPrice) p/week
                            </div>
                        </div>

                    </div>
                </div>
            }
        }
    </div>
</div>
